extends layout
block content
    .row
    
        h1 Our Shops <br><br>
       
        #flip
          h1 Click Here for Shops 
          #menu
           .grid-container
               each shop in shops
                 .item 
                    h1.itemtitle #{shop.name}
                    img.pimage(src='#{shop.image}', alt='an image')
                    p.itemp #{shop.address}
                    a.button(href='details/#{shop.name}') Details
                    a.button(href='editshop/#{shop.name}') Edit
                    a.button(href='deleteshop/#{shop.name}') Delete 

                